/* Global */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Muli');
:root {
    --primary_color: #969696;
    --secondary-color: #b6d7a8ff;
    --reg-font: 'Muli', sans-serif;
    --enph_font: 'Encode Sans', sans-serif;
}

body {
    font-family: var(--reg-font);
}

.dNone {
    display: none !important;
}

.animated {
    transition: all 0.5s;
}


/* Nav */

nav.navIcon {
    position: fixed;
    font-size: 2rem;
    top: 0;
    left: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    z-index: 10000;
    color: var(--secondary-color);
    /* color: var(--secondary-color); */
}

nav i.fa-caret-left {
    color: var(--primary_color)
}

nav.navigation {
    position: fixed;
    width: 60vw;
    height: 80vh;
    z-index: 1000;
    background: var(--secondary-color);
    top: 10vh;
    left: -100%;
    text-align: center;
}

.viewNav {
    left: 0 !important;
}

nav.navigation li {
    margin: 0.5rem
}

nav.navigation a {
    color: var(--primary_color);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}


/* Header */

header {
    background-image: url(../img/headerBg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

header h1,
header p {
    font-size: 2rem;
    color: var(--secondary-color);
    margin: 1rem 0;
    font-weight: 600;
    font-family: var(--enph_font);
    z-index: 100;
}

header p {
    font-size: 1.5rem;
    color: var(--primary_color)
}


/* IMG - ocultada temporalmentes */

img {
    display: none
}